NEXT_PUBLIC_SUPABASE_URL=https://mteefiyczqjdvbdypill.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_replace_me
NEXT_PUBLIC_SITE_URL=http://localhost:3000
MISTICPAY_CLIENT_ID=pk_replace_me
MISTICPAY_CLIENT_SECRET=sk_replace_me
MISTICPAY_WEBHOOK_SECRET=replace_me
PLATFORM_FEE_PERCENT=3
RESEND_API_KEY=re_replace_me
DELIVERY_FROM_EMAIL=entregas@seudominio.com
ADMIN_EMAIL=admin@seudominio.com
